<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header d-flex align-items-center">
            <a class="navbar-brand" href="index.html">
                <img src="../assets/img/brand/cesa.png" class="navbar-brand-img" alt="...">
            </a>
            <div class="ml-auto">
                <!-- Sidenav toggler  -->
                <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Side-Nav Menu Items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#navbar-dashboards" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-dashboards"> <i class="ni ni-shop text-primary"></i> <span class="nav-link-text">Dashboards</span> </a>
                        <div class="collapse show" id="navbar-dashboards">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link">Dashboard</a>
                                </li>
                                <!--<li class="nav-item">
                                        <a href="alternative.html" class="nav-link">Alternative</a>
                                    </li>-->
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#class-view" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="class-view"> <i class="ni ni-hat-3 text-orange"></i> <span class="nav-link-text">Class View</span> </a>
                        <div class="collapse" id="class-view">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="class_view.html" class="nav-link">All Classes</a>
                                </li>
                                <li class="nav-item">
                                    <a href="add_class.html" class="nav-link">Add a Class</a>
                                </li>
                                <li class="nav-item">
                                    <a href="add_student.html" class="nav-link">Add a Student</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a href="../examples/timeline.html" class="nav-link">Timeline</a>
                                </li> -->
                                <!-- <li class="nav-item">
                                    <a href="../examples/profile.html" class="nav-link">Profile</a>
                                </li> -->
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#teacher-view" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="teacher-view"> <i class="ni ni-ui-04 text-info"></i> <span class="nav-link-text">Teachers</span> </a>
                        <div class="collapse" id="teacher-view">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="add_teacher.html" class="nav-link">Add Teacher</a>
                                </li>
                                <li class="nav-item">
                                    <a href="add_subject.html" class="nav-link">Add_Subject</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a href="school-post.html" class="nav-link">Grid</a>
                                </li>
                                <li class="nav-item">
                                    <a href="../components/notifications.html" class="nav-link">Notifications</a>
                                </li>
                                <li class="nav-item">
                                    <a href="../components/icons.html" class="nav-link">Icons</a>
                                </li>
                                <li class="nav-item">
                                    <a href="../components/typography.html" class="nav-link">Typography</a>
                                </li> i will need this later-->
                                <!-- <li class="nav-item">
                                    <a href="#navbar-multilevel" class="nav-link" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-multilevel">Multi level</a>
                                    <div class="collapse show" id="navbar-multilevel" style="">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a href="#!" class="nav-link ">Third level menu</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#!" class="nav-link ">Just another link</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#!" class="nav-link ">One last link</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#promote-view" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="promote-view"> <i class="ni ni-ui-04 text-info"></i> <span class="nav-link-text">Promote</span> </a>
                        <div class="collapse" id="promote-view">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="add_teacher.html" class="nav-link">Promotion</a>
                                </li>
                                <li class="nav-item">
                                    <a href="add_subject.html" class="nav-link">Add_Subject</a>
                                </li> -
                                <!-- <li class="nav-item">
                                    <a href="school-post.html" class="nav-link">Grid</a>
                                </li>
                                <li class="nav-item">
                                    <a href="../components/notifications.html" class="nav-link">Notifications</a>
                                </li>
                                <li class="nav-item">
                                    <a href="../components/icons.html" class="nav-link">Icons</a>
                                </li>
                                <li class="nav-item">
                                    <a href="../components/typography.html" class="nav-link">Typography</a>
                                </li> i will need this later-->
                                <!-- <li class="nav-item">
                                    <a href="#navbar-multilevel" class="nav-link" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-multilevel">Multi level</a>
                                    <div class="collapse show" id="navbar-multilevel" style="">
                                        <ul class="nav nav-sm flex-column">
                                            <li class="nav-item">
                                                <a href="#!" class="nav-link ">Third level menu</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#!" class="nav-link ">Just another link</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#!" class="nav-link ">One last link</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#post-section" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="post-section"> <i class="ni ni-single-copy-04 text-pink"></i> <span class="nav-link-text">Post</span> </a>
                        <div class="collapse" id="post-section">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="school-post.html" class="nav-link">New post</a>
                                </li>
                                <li class="nav-item">
                                    <a href="news-timeline.html" class="nav-link">Timeline</a>
                                </li>
                                <!--<li class="nav-item">
                                    <a href="../forms/validation.html" class="nav-link"></a>
                                </li>-->
                            </ul>
                        </div>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#navbar-tables" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-tables"> <i class="ni ni-align-left-2 text-default"></i> <span class="nav-link-text">Tables</span> </a>
                        <div class="collapse" id="navbar-tables">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="../tables/tables.html" class="nav-link">Tables</a>
                                </li>
                                <li class="nav-item">
                                    <a href="../tables/sortable.html" class="nav-link">Sortable</a>
                                </li>
                                <li class="nav-item">
                                    <a href="../tables/datatables.html" class="nav-link">Datatables</a>
                                </li>
                            </ul>
                        </div>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#navbar-maps" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-maps"> <i class="ni ni-map-big text-primary"></i> <span class="nav-link-text">Maps</span> </a>
                        <div class="collapse" id="navbar-maps">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="../maps/google.html" class="nav-link">Google</a>
                                </li>
                                <li class="nav-item">
                                    <a href="../maps/vector.html" class="nav-link">Vector</a>
                                </li>
                            </ul>
                        </div>
                    </li> -->
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <a class="d-flex align-items-center text-primary" href="#"> <i class="fa fa-user"></i> </a><span>HOSPITAL SECTION</span> </h6>
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="class_view.html" class="nav-link">All Classes</a>
                        </li>
                        <li class="nav-item">
                            <a href="add_class.html" class="nav-link">Add a Class</a>
                        </li>
                        <li class="nav-item">
                            <a href="add_student.html" class="nav-link">Add a Student</a>
                        </li>
                        <!-- <li class="nav-item">
                                    <a href="../examples/timeline.html" class="nav-link">Timeline</a>
                                </li> -->
                        <!-- <li class="nav-item">
                                    <a href="../examples/profile.html" class="nav-link">Profile</a>
                                </li> -->
                    </ul>
                    <hr class="my-3">
                    <li class="nav-item">
                        <a class="nav-link" href="login.html"> <i class="ni ni-archive-2 text-green"></i> <span class="nav-link-text">Login</span> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.html"> <i class="ni ni-chart-pie-35 text-info"></i> <span class="nav-link-text">Register</span> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html"> <i class="ni ni-calendar-grid-58 text-red"></i> <span class="nav-link-text">Profile</span> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>